* {
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
    color: white;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
:root {
    --element_bg: #6F4E37;
    --bg: #A67B5B;
    --primary: #ECB176;
}
body {
    background-color: var(--bg);
    width: 100%;
    height: 3000px;
    overflow-x: hidden;
}



/* navbar */
nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--element_bg);
    animation: navbar 1s ease forwards;
    position: fixed;
}
nav div {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .container1 {
    width: 50%;
    display: flex;
    flex-direction: row;
    transition: 1s;
}

nav .container1 a {
    margin-left: 30px;
    font-family: 'Edu AU VIC WA NT Hand';
    transition: 1s;
}
nav .container1 a:hover {
    border-bottom: 2px solid var(--primary);
    border-top: 2px solid var(--primary);
}
nav .container2 {
    width: 20%;
}
nav .container2 a {
    margin-left: 10px;
}
nav .container2 a .shopping-cart {
    width: 100%;
    height: 100%;
}
.menu {
    display: none;
}
/* navbar */


/* main */
#home {
    display: flex;
    flex-direction: column;
}
#home h1 {
    font-size: 3rem;
    margin-left: 5%;
    margin-top: 100px;
    height: 70px;
    width: 400px;
    color: var(--element_bg);
    display: inline-block;
    animation: main 1.5s ease forwards;
}
#home h2 {
    font-size: 2rem;
    margin-left: 5%;
    height: 50px;
    width: 400px;
    color: var(--element_bg);
    display: inline-block;
    animation: main 2s ease forwards;

}
#home p {
    font-size: 1rem;
    margin-left: 5%;
    height: 100px;
    width: 600px;
    color: var(--element_bg);
    display: inline-block;
    animation: main 2.5s ease forwards;

}
/* main */



/* about */
.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    padding-top: 100px;
}
.about header h1 {
    text-align: center;
    font-size: 3rem;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}
.about .about_text {
    height: 500px;
    width: 50%;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section .animate {
    transform: translateX(-100%);
    transition: 1s;
}
.show-animate .animate {
    transform: translateX(0);
}
.about .section .animate2 {
    transform: translateX(100%);
    transition: 1s;
}
.about .show-animate .animate2 {
    transform: translateX(0);
}
.about main {
    display: flex;
    flex-direction: row;
}
.about .about_image {
    height: 500px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .about_text div {
    height: 90%;
    width: 100%;
    background-color: var(--element_bg);
    background: rgb(166,123,91);
    background: linear-gradient(180deg, rgba(166,123,91,1) 0%, rgba(111,78,55,1) 13%, rgba(111,78,55,1) 89%, rgba(166,123,91,1) 100%);
}
.about .about_image div {
    height: 90%;
    width: 100%;
    background-color: var(--element_bg);
    background: rgb(166,123,91);
    background: linear-gradient(180deg, rgba(166,123,91,1) 0%, rgba(111,78,55,1) 13%, rgba(111,78,55,1) 89%, rgba(166,123,91,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .about_text div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about .about_text div p {
    display: inline-block;
    width: 90%;
    text-align: left;
}
.img2, .img3 {
    display: none;
}
/* about */



/* menu */
.menukami {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menukami h1 {
    text-align: center;
    font-size: 3rem;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}
.menukami .menu_page {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.menukami .menu_page .menu_card {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}
.menukami .menu_page .menu_card img {
    width: 250px;
    height: 250px;
    margin: 20px auto;
    border-radius: 10px;
}
.menukami .menu_page .menu_card h3 {
    text-align: center;
}
.menukami .menu_page .menu_card .menu_price {
    text-align: center;
}


/* menu */





































































@media screen and (max-width: 2560px) {
    #home {
        background-image: url("image/bg2560px.jpg");
        width: 100%;
        height: 1450px;
        
    }

}   
@media screen and (max-width: 1440px) {
    #home {
        background-image: url("image/bg1440px.jpg");
        width: 100%;
        height: 810px;
    }
}
@media screen and (max-width: 1024px) {
    #home {
        background-image: url("image/bg1025px.jpg");
        width: 100%;
        height: 575px;
    }
}
@media screen and (max-width: 1280px) {
    #home {
        background-image: url("image/bg1280px.jpg");
        width: 100%;
        height: 720px;
        position: static;
    }
    #home::after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: static;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0) 75%, rgba(166,123,91,1) 100%);

    }
}
@media screen and (max-width: 768px) {
    #home {
        background-image: url("image/bg768px.jpg");
        height: 430px;
    }
    #home:after {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0) 28%, rgba(166,123,91,1) 100%);
    }
    #home h1 {
        font-size: 2rem;
    }
    #home h2 {
        font-size: 1rem;
    }
    #home p {
        font-size: 0.8rem;
        width: 200px;
        height: 400px;
    }
    .about header h1 {
        font-size: 2rem;
    }
    .about .about_text div p {
        font-size: 0.8rem;
    }
    .img1 {
        display: none;
    }
    .img2 {
        display: block;
    }
    
}
@media screen and (max-width: 600px) {
    nav {
        justify-content: right;
    }
    nav .container1 {
        position: absolute;
        flex-direction: column;
        width: 200px;
        height: 100vh;
        right: -900px;
        background-color: var(--element_bg);
        margin-top: 50px;
        align-items: normal;
    }
    nav .container1 .a1 {
        margin-top: -250px;
    }
    nav .container1 .a2, .a3, .a4 {
        margin-top: 10px;
    }
    nav div {
        width: 300px;
    }
    nav .container2 {
        width: 300px;
    }
    .menu {
        display: block;
        background-color: transparent;
        margin-left: 10px;
    }
    nav .active {
        right: 0;
    }
    .about header h1 {
        font-size: 1rem;
    }
    

}
@media screen and (max-width:425px) {
    nav div h2 {
        font-size: 1rem;
    }
    #home {
        background-image: url("image/bg425px.jpg");
        height: 237px;
        background-position: center;
    }
    #home h1 {
        font-size: 1.5rem;
        width: 200px;
    }
    #home h2 {
        font-size: 1rem;
        width: 200px;
    }
    #home p {
        font-size: 0.5rem;
    }
    .img2 {
        display: none;
    }
    .img3 {
        display: block;
    }
}












































@keyframes navbar {
    from {margin-top: -200px;}
    to {margin-top: 0;}
}
@keyframes main {
    from {margin-left: -50%;}
    to {margin-left: 5%;}
}
